body{
    background: linear-gradient(115deg, rgba(101,151,209,0.8),rgba(202,102,211,0.5)),url(/quizbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 113vh;
}
.text {
    padding: 10px 20px 0px 20px;
    text-align: justify;
    margin: 0 auto;
    font-family: sans-serif;
    color: darkgray;
    font-size: 18px;
}